/* styles.css */

thead tr th{
  background-color: var(--var-color-red);
  color: #fafafa;
  padding: .8rem 0;
  font-size: .9rem;
}



.chart {
  padding: 6rem 2.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  
}

th {
  background-color: #f2f2f2;
}

td.delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

td img {
  width: 2rem;
  height: 2rem;
}

.delete {
  cursor: pointer;
  background-color:  var(--var--background-red);
  transition: .1s;
}

.delete:hover{
  filter: contrast(1.3);
  box-shadow: 0 0 0rem 0 rgba(0, 0, 0, 0.4);
}



.delete h3{
  color: var(--var-color-red);
}

.add-seccion{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: .5rem 0;
  background-color: var(--var--background-green);
  color: var(--var-color-green);
  cursor: pointer;
  transition: .15s;

}

.add-seccion:hover{
  filter: brightness(1.1);
  box-shadow: 0 0 0rem 0 rgba(0, 0, 0, 0.4);
}

.add-seccion-span{
  background-color: rgba(8, 8, 8, 0.425);
}

.desplegable {
  padding: 0;
  transition: .2s;
}

.desplegable select {
  height: 100%;
  padding: .5rem 1rem;
  border: none;
  cursor: pointer;
  transition: .2s;

}

.desplegable:hover{
  background-color: rgba(18, 72, 189, 0.288);
}

.desplegable:hover select{
  background-color: rgba(18, 72, 189, 0);
}

.desplegable select:focus {
  outline: none;
}